#file-zone {
    background-color: #f1f0f0;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
}

#file {
    width: 600px;
    max-width: 100%;
    padding: 20px 40px;
    flex-grow: 1;
    background-color: #fff;
    border: 1px solid #e4dede;
    box-sizing: border-box;
}