#control-panel {
    background-color: #fff;
    height: 25px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 5px 15px;
}

#format-actions {
    max-width: 100%;
    width: 600px;
    margin: 0 auto;
}

.format-action {
    display: inline-block;
    padding: 5px 10px;
    border: none;
    color: #444;
    background-color: #f5f5f5;
    transition: all .2s;
    margin-right: 4px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0);
}

.format-action:hover {
    color: #000;
    cursor: pointer;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, .2);
}

.format-action.active {
    box-shadow: inset 0 0 2px 1px rgba(0, 0, 0, .2);
}