.list-words-wrap {
  position: fixed;
  left: 0;
  top: 0;
  max-height: 300px;
  overflow-y: auto;
  background-color: #fff;
  box-shadow: 0 3px 5px rgba(0, 0, 0, .8);
  z-index: 5;
}

.list-words {
  list-style: none;
  margin: 0;
  padding: 0;
}

.list-words li {
  padding: 5px 10px;
}

.list-words li:hover {
  cursor: pointer;
  background-color: #eee;
}

.no-result {
  display: inline-block;
  padding: 5px 10px;
}