header {
  display: block;
  height: 40px;
  padding-left: 15px;
  padding-top: 15px;
  font-size: 24px;
  border-bottom: 4px solid #ffa500;
  background-color: rgba(33, 33, 33, 0.5);
  color: #fff;
}

.App {
  display: flex;
  height: 100%;
  flex-direction: column;
  font: 400 16px/1.4 "Helvetica CY", Helvetica, Arial, "Nimbus Sans L", sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}